body {
    font-family: Arial, sans-serif;
    background-color: #221551;
    color: white;
    padding: 20px;
}

h1 {
    color: #E0004D;
}

/* Ajuste del contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Ajuste del contenedor de formulario */
.form-container {
    max-width: 500px; /* Cambiado a 500px para hacerlo más angosto */
    width: 100%;
    margin-right: 20px;
}

/* Ajuste de los inputs */
.search-input {
    width: 100%; /* Mantener el 100% dentro de su contenedor */
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* Ajuste del botón */
button {
    width: 100%; /* Botón del mismo tamaño que los inputs */
    background-color: #E0004D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #D00042;
}

/* Ajuste del contenedor de estado */
.status-container {
    max-width: 300px; /* Más angosto para el contenedor de estado */
    text-align: right;
    white-space: nowrap;
}


/* Ajuste de los inputs */
.search-input {
    width: 100%; /* Se asegura que el input ocupe el 100% del contenedor */
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* Ajuste del botón */
button {
    width: 100%; /* Hacer que el botón también ocupe todo el ancho */
    background-color: #E0004D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #D00042;
}


#results {
    white-space: pre-wrap;
    background-color: #2d1b69; /* Tono morado claro */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#results-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2d1b69; /* Tono morado claro */
}

#results-table th, #results-table td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

#results-table th {
    background-color: #444;
}

#results-table tbody tr:nth-child(even) {
    background-color: #3a2676; /* Tono ligeramente más oscuro */
}

#results-table tbody tr:hover {
    background-color: #555;
}

.selected {
    background-color: magenta !important;
}

.status-container h2 {
    font-size: 24px;
    margin: 0;
    display: inline;
}

.status-container #estado-transaccion {
    font-size: 24px;
    margin-left: 10px;
    display: inline;
    white-space: nowrap;
}
